
.container{
    position : fixed;
    top: 120px;
    left: 8%;

    .menu{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        width: 92%;
        padding: 5px;
        background-color: #333;
        background: rgba(45, 210, 252, 0.2);
        border-radius: 50px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        
    }
    .Menu-item{

        margin: 4px;
        svg{
            width: 25px;
            height: 25px;
            fill: var(--colorText);
            &:hover{
                fill: var(--colorPrimary);
                cursor: pointer;
                transition: fill 0.3s ease;
                transform: scale(1.2);
                

            }
        }
    }
}

.container-dash{
    border: #333 solid ;
    width: 1410px ;
    height: 700px;
    margin-left: 5%;
    margin-top: 5%;
    padding: 10px;


}

.Menu-item.active {
    /* Estilo para el ícono activo */
    color: var(--colorPrimary); /* Color azul para el ícono activo */
}