.section-visual{
    display: flex;
    .visual-tasks{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .menu{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            .menu-item{
                cursor: pointer;
                text-decoration: none ;
                color: var(--colorText);
                &:hover{
                    color: var(--colorPrimary);
                }
            }
            .menu-item:active{
                background-color: var(--colorPrimary);
                color: white;
            }

        }
    }
}